#container {
    visibility:hidden;
    pointer-events: none;
}

.map-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#map {
    position:absolute;
    overflow:visible;
}

text {
    font-size: 24px;
    font-family: sans-serif;
    color:#585858;
    visibility:hidden;
}
