.intro {
  padding: 5px;
  background-color: antiquewhite;
}

.intro--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro--img img {
  max-width: 60%;
}

@media (max-width: 768px) {
  .intro--img img {
    min-width: 80%;
  }
}
